#delicious {
  padding-bottom: 40px;
  border-top: 0.1px solid rgba(255, 255, 255, 0.428);
  .delicious {
    &--content {
      display: flex;
      align-items: center;
      justify-content: space-between;
      flex-direction: column;
      height: 600px;
      &__center {
        margin-top: 184px;
        width: 105%;
        height: 100%;
        border-left: 0.2px solid rgba(255, 255, 255, 0.4);
        border-right: 0.2px solid rgba(255, 255, 255, 0.4);
        display: flex;
        align-items: center;
        flex-direction: column;
        color: rgba(255, 255, 255, 1);
        &--name {
          display: flex;
          align-items: center;
          gap: 30px;
          h3 {
            font-family: "Shalimar", cursive;
            font-weight: 400;
            font-size: 40px;
            color: rgba(255, 255, 255, 1);
          }
          img {
            width: 68px;
          }
        }
        h1 {
          font-family: "Prata", serif;
          font-weight: 500;
          font-size: 55px;
        }
        p {
          font-family: "League Spartan", sans-serif;
          margin: 12px 0;
          font-weight: 400;
          font-size: 18px;
          line-height: 1.1;
          text-align: center;
          line-height: 110%;
          letter-spacing: 0%;
          width: 33%;
        }
        &--btn {
          display: flex;
          flex-direction: column;
          align-items: center;
          gap: 5px;
          hr {
            border: 1.4px solid rgba(239, 39, 44, 1);
            width: 170px;
          }
          button {
            display: flex;
            align-items: center;
            justify-content: center;
            gap: 10px;
            width: 220px;
            height: 42px;
            background: transparent;
            font-weight: 600;
            font-size: 12px;
            text-transform: uppercase;
            color: rgba(255, 255, 255, 1);
            letter-spacing: 1px;
            border: 1.6px solid rgba(239, 39, 44, 1);
            cursor: pointer;
          }
        }
      }
      &__bottom {
        padding-bottom: 20px;
        width: 100%;
        display: flex;
        align-items: center;
        justify-content: space-between;
        width: 101%;
        border-bottom: 0.2px solid rgba(255, 255, 255, 0.4);
        &--text {
          display: flex;
          align-items: center;
          gap: 10px;
          h4 {
            font-family: "League Spartan", sans-serif;
            font-weight: 600;
            font-size: 16px;
            letter-spacing: 0.8px;
            color: rgba(255, 255, 255, 1);
          }
          hr {
            width: 60px;
            border: 0.6px solid rgba(255, 255, 255, 0.6);
          }
          a {
            color: rgba(239, 39, 44, 1);
            font-size: 18px;
          }
          .span {
            font-family: "League Spartan", sans-serif;
            font-size: 13px;
            letter-spacing: 0.8px;
            text-transform: capitalize;
            color: rgba(255, 255, 255, 1);
          }
        }
      }
    }
  }
}

@media (max-width: 992px) {
  #delicious {
    .delicious {
      &--content {
        height: auto;

        &__center {
          margin-top: 100px;
          width: 100%;

          h1 {
            font-size: 42px;
            text-align: center;
          }

          p {
            font-size: 16px;
            width: 70%;
          }

          &--name {
            gap: 10px;
            h3 {
              font-size: 32px;
              text-align: center;
            }
            img {
              width: 50px;
            }
          }

          &--btn {
            button {
              width: 200px;
              height: 40px;
              font-size: 11px;
            }

            hr {
              width: 140px;
            }
          }
        }

        &__bottom {
          margin-top: 150px;
          display: flex;
          align-items: center;
          justify-content: space-between;
          gap: 10px;
          &--text {
            display: flex;
            align-items: flex-start;
            flex-direction: column;
            gap: 6px;

            h4 {
              font-size: 14.5px;
            }
            a {
              font-size: 16px;
              width: 64%;
              line-height: 15px;
            }

            .span {
              font-size: 12px;
            }

            hr {
              width: 40px;
            }
          }
        }
      }
    }
  }
}

@media (max-width: 576px) {
  #delicious {
    .delicious {
      &--content {
        &__center {
          h1 {
            font-size: 32px;
          }

          p {
            font-size: 16px;
            width: 90%;
          }

          &--name {
            display: flex;
            h3 {
              font-size: 38px;
            }
            img {
              width: 50px;
            }
          }

          &--btn {
            gap: 4px;

            button {
              width: 180px;
              height: 38px;
              font-size: 10px;
            }

            hr {
              width: 120px;
            }
          }
        }
      }
    }
  }
}
