#header {
  padding: 20px 0;
  background: linear-gradient(
    180deg,
    rgba(27, 32, 38, 0.4) 46.81%,
    rgba(27, 32, 38, 0.8) 100.67%
  );
  backdrop-filter: blur(6px);
  position: sticky;
  top: 0;
  left: 0;
  z-index: 100;
  border-bottom: 0.1px solid rgba(255, 255, 255, 0.348);
  .header {
    display: flex;
    align-items: center;
    justify-content: space-between;

    a {
      font-family: "Prata", serif;
      font-weight: 600;
      font-size: 28px;
      letter-spacing: 1.2px;
      cursor: pointer;
      color: #ffffff;
    }
    &--nav {
      display: flex;
      align-items: center;
      gap: 80px;
      a {
        font-family: "League Spartan", sans-serif;
        font-weight: 500;
        font-size: 19px;
        line-height: 100%;
        text-transform: capitalize;
        color: #ffffff;
      }
      select {
        padding: 0px 10px;
        font-weight: 600;
        font-size: 16px;
        color: #ffffff;
        background: transparent;
        border: none;
        outline: none;
        cursor: pointer;
        font-family: "Playfair Display", serif;

        option {
          background: #1b2026;
          padding: 10px 20px;
          font-weight: 500;
          font-size: 16px;
        }
      }
      &__search {
        display: flex;
        align-items: center;
        gap: 10px;
        background: #ef272c;
        border-radius: 8px;
        padding: 10px 10px;
        font-family: "League Spartan", sans-serif;

        .ion-icon {
          font-size: 19px;
          cursor: pointer;
          color: #c1c0c0;
          margin-bottom: 2px;
        }
        input {
          background: #ef272c;
          font-weight: 500;
          font-size: 16px;
          border: none;
          outline: none;
          color: #c1c0c0;
          font-family: "League Spartan", sans-serif;

          &::placeholder {
            font-family: "League Spartan", sans-serif;
            color: #c1c0c0;
            font-weight: 500;
            font-size: 16px;
          }
        }
      }
    }
    &--menu {
      display: none;
    }
  }
}

@media (max-width: 480px) {
  #header {
    z-index: 1000;
    padding: 25px 0px 20px 0px;
    .header {
      display: flex;
      align-items: center;
      justify-content: space-between;
      a {
        font-size: 20px;
      }
      &--nav {
        display: none;
      }
      &--menu {
        display: block;

        a {
          font-size: 24px;
          color: #ffffff;
        }

        .header--menu__items {
          display: none;
          border-top: 0.5px solid #ffffff;
          position: absolute;
          top: 75px;
          right: 0px;
          padding: 20px;
          background: #1b2026;
          width: 100%;
          max-width: 355px;
          height: 725px;
          &.open {
            display: block;
          }

          ul {
            list-style: none;

            li {
              margin: 50px 0;
              text-align: start;
              margin-left: 30px;
              a {
                color: white;
                font-family: "League Spartan", sans-serif;
                font-weight: 500;
                line-height: 100%;
                text-transform: capitalize;
              }
            }
          }

          .header--menu__items--options {
            a {
              cursor: pointer;
              font-size: 18px;
              font-family: "League Spartan", sans-serif;
              font-weight: 500;
              line-height: 32px;
              color: #ffffff;
              margin-left: 30px;
            }
          }
        }
      }
    }
  }
}
