#footer {
  padding: 30px 0px;
  background-color: #121212;
  .footer--bottom {
    hr {
      margin: 30px 0px;
      color: #ffffffcc;
    }
    center {
      p {
        font-family: "Montserrat", sans-serif;
        font-weight: 500;
        font-size: 14px;
        text-transform: capitalize;
        color: #ffffff;
      }
    }
  }
  .footer {
    display: flex;
    align-items: center;
    justify-content: space-between;
    &--title {
      h1 {
        font-family: "Prata", serif;
        font-weight: 600;
        font-size: 28px;
        letter-spacing: 1.2px;
        cursor: pointer;
        color: #ffffff;
      }
    }
    &--nav {
      display: flex;
      align-items: center;
      gap: 80px;
      a {
        font-family: "League Spartan", sans-serif;
        font-weight: 500;
        font-size: 19px;
        color: #ffffff;
      }
    }
    &--icons {
      display: flex;
      align-items: center;
      gap: 20px;
      .icon1 {
        font-size: 27px;
        cursor: pointer;
        color: #c1c0c0;
      }
      .icon2 {
        font-size: 27px;
        cursor: pointer;
        color: #c1c0c0;
      }
    }
  }
}

@media (max-width: 768px) {
  #footer {
    padding: 30px 10px;
    .footer {
      display: flex;
      align-items: center;
      justify-content: space-between;
      &--title {
        h1 {
          font-size: 19px;
        }
      }
      &--nav {
        display: none;
      }
      &--icons {
        gap: 10px;
      }
      .icon1 {
        font-size: 22px;
      }
      .icon2 {
        font-size: 22px;
      }
    }
    .footer--bottom {
      text-align: center;
      hr {
        margin: 18px 0px;
        color: #ffffffcc;
      }
    }
  }
}
